* {
  padding: 0;
  margin: 0;
  background-color: aliceblue;
}

div {
  width: 100%;
  height: 100vh;
  background: #8e44ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  padding: 12px 20px;
  background: #9b59b6;
  border-radius: 5px;
  color: pink;
  outline: none;
  border: 2px solid #ecf0f1;
  cursor: pointer;
}
